<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<h2>Add Product</h2>
<form th:action="@{/products}" th:object="${product}" method="post">
    Name: <input type="text" th:field="*{name}" /><br/>
    Value: <input type="text" th:field="*{value}" /><br/>
    Stock Quantity: <input type="text" th:field="*{stockQuantity}" /><br/>
    <button type="submit">Save</button>
</form>

<a href="/products">Back to list</a>

</body>
</html>
