<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit Service</title>
</head>
<body>
<h2>Add/Edit Service</h2>
<form th:action="@{/services}" th:object="${serviceEntity}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color: red; font-weight: bold;"></p>
    </div>

    <th:block th:if="${serviceEntity.id != null}">
        <input type="hidden" th:field="*{id}" />
    </th:block>

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" /><br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Name Error</span><br/>

    <label for="status">Status:</label>
    <select th:field="*{status}" id="status">
        <option th:each="st : ${statuses}"
                th:value="${st.name()}"
                th:text="${st.name()}">
        </option>
    </select><br/>
    <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" style="color:red">Status Error</span><br/>

    <button type="submit">Save</button>
</form>

<a href="/services">Back to list</a>

</body>
</html>