<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Service</title>
</head>
<body>
<h2>Add Service</h2>
<form th:action="@{/services}" th:object="${serviceEntity}" method="post">
    <input type="hidden" th:field="*{id}" />
    Name: <input type="text" th:field="*{name}" /><br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Name Error</span><br/> Status:
    <select th:field="*{status}">
        <option th:each="st : ${T(com.OrderManagementSystem.app.model.Status).values()}"
                th:value="${st.name()}"
                th:text="${st.value}">
        </option>
    </select><br/>
    <button type="submit">Save</button>
</form>

<a href="/services">Back to list</a>

</body>
</html>
