<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
</head>
<body>
<h2>Add New Order</h2>

<form th:action="@{/orders}" th:object="${order}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Name: </label>
    <input type="text" th:field="*{name}" /><br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Error</span><br/><br/>

    <label>Customer: </label>
    <select name="customerId">
    </select><br/><br/>

    <label>Contract: </label>
    <select name="contractId">
    </select><br/><br/>

    <button type="submit">Save</button>
</form>

<a href="/orders">Back to list</a>
</body>
</html>
