<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Unit of Measure</title>
</head>
<body>
<h2>Add Unit of Measure</h2>
<form th:action="@{/unitsOfMeasure}" th:object="${unitOfMeasure}" method="post">
    <input type="hidden" th:field="*{id}" />
    Name: <input type="text" th:field="*{name}" /><br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Name Error</span><br/> Symbol: <input type="text" th:field="*{symbol}" /><br/>
    <span th:if="${#fields.hasErrors('symbol')}" th:errors="*{symbol}" style="color:red">Symbol Error</span><br/> <button type="submit">Save</button>
</form>

<a href="/unitsOfMeasure">Back to list</a>

</body>
</html>
